<div class="lista-productos-container">
  <div class="card-list">
    <div class="list-header">
      <h3>Inventario de Productos</h3>
      <span class="product-count">{{ productos.length }} Items registrados</span>
    </div>
    
    <div class="table-responsive">
      <table class="table-prod">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Stock</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of productos" [class.row-editing]="productoEditando === p.id">
            
            <ng-container *ngIf="productoEditando !== p.id">
              <td class="td-img">
                <div class="img-wrapper">
                  <img [src]="p.imagenUrl || 'assets/no-image.png'" alt="Producto" class="img-thumb">
                </div>
              </td>
              <td class="td-name"><strong>{{ p.nombre }}</strong></td>
              <td><span class="badge-cat">{{ getNombreCategoria(p.idCategoria) }}</span></td>
              <td class="price-cell">{{ p.precio | currency:'Bs ' }}</td>
              <td><span class="stock-label">{{ p.stock }} <small>u.</small></span></td>
              <td class="acciones">
                <button class="btn-edit" (click)="editarProducto(p)">Editar</button>
                <button class="btn-del" (click)="eliminar(p.id!)">Eliminar</button>
              </td>
            </ng-container>

            <ng-container *ngIf="productoEditando === p.id">
              <td>
                <div class="img-wrapper edit-mode">
                  <img [src]="p.imagenUrl || 'assets/no-image.png'" class="img-thumb disabled-img">
                </div>
              </td>
              <td><input [(ngModel)]="nombreEditado" class="edit-input" placeholder="Nombre"></td>
              <td>
                <select [(ngModel)]="categoriaEditada" class="edit-input">
                  <option *ngFor="let cat of categorias" [value]="cat.id">{{ cat.nombre }}</option>
                </select>
              </td>
              <td><input type="number" [(ngModel)]="precioEditado" class="edit-input sm"></td>
              <td><input type="number" [(ngModel)]="stockEditado" class="edit-input sm"></td>
              <td class="acciones">
                <button class="btn-save" (click)="guardarEdicion(p)">Guardar</button>
                <button class="btn-cancel" (click)="cancelarEdicion()">Cancelar</button>
              </td>
            </ng-container>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>