<div class="producto-container">
  <div class="header-section">
    <h2>Control de Inventario</h2>
    <p>Registro de nuevos productos al catálogo</p>
  </div>

  <div *ngIf="mensajeExito" class="alert-success">
    <span class="icon-check">✔</span> ¡Producto agregado exitosamente!
  </div>

  <div class="card-form">
    <div class="card-title">
       <h3>Detalles del Nuevo Producto</h3>
    </div>
    
    <div class="form-content">
      <div class="grid-inputs">
        <div class="form-group">
          <label>Nombre del Producto</label>
          <input [(ngModel)]="nuevoProducto.nombre" placeholder="Ej. Hierro en gotas">
        </div>

        <div class="form-group-row">
            <div class="form-group">
              <label>Precio (Bs)</label>
              <input type="number" [(ngModel)]="nuevoProducto.precio" placeholder="0.00">
            </div>

            <div class="form-group">
              <label>Stock</label>
              <input type="number" [(ngModel)]="nuevoProducto.stock" placeholder="Cantidad">
            </div>
        </div>
        
        <div class="form-group">
          <label>Categoría</label>
          <select [(ngModel)]="nuevoProducto.idCategoria">
            <option value="" disabled selected>Seleccione una categoría</option>
            <option *ngFor="let cat of categorias" [value]="cat.id">
              {{ cat.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div class="image-upload-section">
        <label class="upload-label">Vista Previa</label>
        
        <div class="preview-container" [class.has-image]="imagenPreview">
          <img *ngIf="imagenPreview" [src]="imagenPreview" class="preview-img" />
          <div *ngIf="!imagenPreview" class="placeholder-preview">
            <div class="camera-icon">📸</div>
            <span>Sin imagen seleccionada</span>
          </div>
        </div>

        <input type="file" id="file-upload" accept="image/*" (change)="archivoSelecionado($event)" class="input-file-hidden" />
        <label for="file-upload" class="btn-upload-trigger">Subir Imagen</label>
      </div>
    </div>

    <div class="form-footer">
      <button class="btn-register" (click)="guardarProducto()">
        REGISTRAR EN SISTEMA
      </button>
    </div>
  </div>
</div>